Package: ukui-about-dbgsym
Package-Type: ddeb
Source: ukui-about
Version: 1.0.0-5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: kylin Team <team+kylin@tracker.debian.org>
Installed-Size: 455
Depends: ukui-about (= 1.0.0-5)
Section: debug
Priority: optional
Description: debug symbols for ukui-about
Build-Ids: bd6d8743c9edfcdf3d0dfa9cd288803a1ff75dc6
