[submodule "debian"]
	path = debian
	url = http://gitlab2.kylin.com/kylin-desktop/ukui-search-debian.git
[submodule "libchinese-segmentation"]
	path = libchinese-segmentation
	url = https://gitlab2.kylin.com/kylin-desktop/chinese-segmentation.git
