Source: ukui-search
Section: utils
Priority: optional
Maintainer: zhangpengfei <zhangpengfei@kylinos.cn>
Build-Depends: debhelper (>=9.0.0),
               pkgconf,
               libgsettings-qt-dev,
               qtbase5-dev,
               qt5-qmake,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools,
               libxapian-dev,
               libquazip5-dev(>=0.7.6-6build1),
               libglib2.0-dev,
               libkf5windowsystem-dev,
               libgsettings-qt-dev,
               libqt5x11extras5-dev,
               libuchardet-dev,
               libpoppler-qt5-dev
Standards-Version: 4.5.0
Homepage: https://www.ukui.org/
Vcs-Git:  https://github.com/ukui/ukui-search.git
Vcs-Browser: https://github.com/ukui/ukui-search

Package: ukui-search
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         libukui-search0 (= ${binary:Version}),
         ukui-search-systemdbus (= ${binary:Version})
Description: ukui-search is a user-wide desktop search 
 feature of UKUI desktop environment.

Package: libchinese-segmentation0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: libchinese-segmentation,
Description: Libraries for chinese-segmentation
 .
 This package contains a few runtime libraries needed by 
 libsearch.

Package: libukui-search0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libchinese-segmentation0 (= ${binary:Version}),
         ukui-search-systemdbus (= ${binary:Version})
Provides: libukui-search,
Description: Libraries for ukui-search. 

Package: libukui-search-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libukui-search0 (= ${binary:Version}),
         libchinese-segmentation0 (= ${binary:Version}),
         ukui-search-systemdbus (= ${binary:Version})
Description: Libraries for  ukui-search(development files).

Package: ukui-search-systemdbus
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
Description: ukui-search-systemdbus is a systembus interface to modify max_user_watches nums 
 permanent.
