Source: ukui-search
Section: x11
Priority: optional
Maintainer: kylin Team <team+kylin@tracker.debian.org>
Uploaders: hepuyao <hepuyao@kylinos.cn>
Build-Depends: debhelper,
               libasound2-dev,
               libglib2.0-dev(>=2.36),
               libgsettings-qt-dev,
               libdconf-dev,
               qtbase5-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Vcs-Browser: https://github.com/hepuyao/ukui-search
Vcs-Git: https://github.com/hepuyao/ukui-search
Homepage: https://github.com/hepuyao/ukui-search

Package: ukui-search
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: ukui search
 The ukui desktop search
