[Desktop Entry]
Name=ukui-search
Name[zh_CN]=搜索
GenericName=UKUI Global Search
GenericName[zh_CN]=全局搜索
Comment=ukui-search
Comment[zh_CN]=全局搜索
Exec=/usr/bin/ukui-search %U
Type=Application
Icon=kylin-search
X-UKUI-AutoRestart=true
OnlyShowIn=UKUI
X-UKUI-Autostart-Phase=Application
Terminal=false
