[Desktop Entry]
Name=Search
Name[zh_CN]=搜索
Name[bo_CN]=བཤེར་འཚོལ།
GenericName=UKUI Global Search
GenericName[zh_CN]=全局搜索
GenericName[bo_CN]=བཤེར་འཚོལ།
Comment=ukui-search
Comment[zh_CN]=全局搜索
Comment[bo_CN]=ཁྱོན་ཡོངས་བཤེར་འཚོལ།
Exec=/usr/bin/ukui-search -s
Type=Application
Icon=kylin-search
X-UKUI-AutoRestart=true
#NoDisplay=true
NotShowIn=UKUI
X-UKUI-Autostart-Phase=Application
Terminal=false
